.eachResult {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "picture text"
    "picture button";
}

.concertPic {
  grid-area: picture;
}

.textBlock {
  grid-area: text;
  justify-self: center;
  align-self: center;

}

.button {
  grid-area: button;
  justify-self: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .eachResult {
    width: 90%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "picture"
      "text"
      "button"
  }
.tickets, .getAudioButton {
  width: 130px;
}
.concertPic {
  justify-self: center;
  margin-top: 5px;
}
.textBlock {
  text-align: center;
}
.audioPlayer {
  text-align: center;
}
.navh1 {
  font-size: 20px;


}
.search-text {
  width: 180px;
}
.nav-search-text {
  width: 77%;
}
.search-button {
  width: 20%;
}
.appendNav {
  text-align: center;
  float: none;
  padding: 10px 40px 50px 40px;
}
.container {
  margin:0 5px;
  margin-top: 80px;
}
}
