.eachResult {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "picture info"
}

.concertPic {
  grid-area: picture;
}

.info {
  grid-area: info;
  margin: 0 auto;
  align-self: center;

}

.textBlock {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 19px;
}

.button {
  text-align: center;
}

.navh1 {
  grid-area: title;
  justify-self: center;
}

.bar {
  grid-area: form;
  justify-self: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .eachResult {
    width: 90%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "picture"
      "text"
      "button"
}

.appendNav {
  grid-template-colums:auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "form"

}

.tickets, .getAudioButton {
  width: 130px;
}
.concertPic {
  justify-self: center;
  margin-top: 5px;
}
.textBlock {
  text-align: center;
}
.audioPlayer {
  text-align: center;
}
.navh1 {
  font-size: 18px;


}
.search-text {
  width: 180px;
}
.nav-search-text {
  width: 77%;
}
.search-button {
  width: 20%;
}
.appendNav {
  text-align: center;
  float: none;
  padding: 10px 40px 50px 40px;
}
.container {
  margin:0 5px;
  margin-top: 40%;

}
}
