* {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
  border: 0;

}
html {
	min-height: 100%;
}
body {
	background:linear-gradient(rgba(40, 40, 40, 0.45),rgba(102, 0, 255, 0.45)), url("https://stmed.net/sites/default/files/concert-wallpapers-30311-195711.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #a6abab;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}


.hidden {
	display: none;
}
row {
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
}
.container {
	margin: 0 auto;
	margin-top: 300px;

	padding: 30px 20px 30px 20px;
	font-size: 20px;
	color: rgb(243, 243, 215);
	display: block;
	background-color: black;
	border-radius: 10px;
	text-align: center;
	max-width: 600px;
}

h4, .concertLocation {
	display: inline;
}
h4 {
	padding-right: 100px;
}
.concertPic {
	position: relative;
	left: 0px;
	float: left;
	margin: 0px;
	display: block;
}
fieldset {
	border: none;
	margin: 0;
	padding: 0 10px;
}
h1.logo {
	font-family: 'Montserrat', sans-serif;
	color: white;
	display: inline-block;
	padding: 10px;
}
.navh1 {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: white;
	display: inline-block;
	cursor: pointer;
}
form.bar {
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	float: right;
}
.navBar {
	background-color: black;
	margin-bottom: 20px;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 40px 10px 40px;
}

.eachResult {
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 0px;
	background-color: white;
	border-radius: 0px;
	border-style:hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	clear: both;
	overflow: auto;
	max-width: 800px;
}
.search-button, .start-search-button {
	background:#0099ff;
	color: white;
	font: 'trebuchet ms', trebuchet;
	padding:10px 20px;
	border-radius:0 5px 5px 0;
	border:0 none;
	font-weight:bold;
	cursor: pointer;
}
.search-text, .nav-search-text {
	background: #eee;
	padding:10px;
  color: grey;
	border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	-o-border-radius:5px 0 0 5px;
	border:0 none;
	max-width:250px;
}
.tickets, .getAudioButton {
	background-color: #0099ff;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	padding: 10px 25px;
	margin: 15px 5px 5px 5px;
	width: 160px;
	cursor: pointer;
}

.appendNav {
	background-color: black;
	margin-bottom: 20px;
	padding: 10px 40px;
}

.infoBlock {
	margin-top: 2%;
	margin-left: 40%;
}
.audioPlayer {
	text-align: center;
}

.landing-info {
	margin-bottom: 10px;
}
